---
import ContactForm from '../components/ContactForm.astro';
import Layout from '../layouts/Layout.astro';

interface Props {
	title?: string;
	subtitle?: string;
}

const props = Astro.props as Props;

const defaultProps = {
	title: "Contáctanos",
	subtitle: "¡Estamos aquí para ayudarte!"
};

const finalProps = { ...defaultProps, ...props };
---

<Layout>
	
	<main class="min-h-screen  bg-zinc-900 text-white">
		<section class="">
				<div class=" mt-12 max-w-lg mx-auto text-center border border-gray-700 p-4 rounded-lg">
					<h1 class="text-5xl md:text-3xl font-bold  text-white shadow-text">{finalProps.title}</h1>
					<p class="text-xl md:text-lg mt-4 text-gray-200">{finalProps.subtitle}</p>
					<ContactForm redirectUrl="/gracias" />
			
			</div>
		</section>
	</main>
</Layout>